.todoForm form {
  display: block;
}
.todoForm input {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 15px 5px;
  font-weight: var(--app-font-weight-light);
  font-family: var(--app-font);
  color: #fff;
  font-size: 32px;
}

.todoForm input.errors {
  border-bottom-color: red;
}
.todoForm input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-size: 32px;
  font-weight: var(--app-font-weight-light);
}
