.TodoApp {
  max-width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .TodoApp {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1100px) {
  .TodoApp {
    max-width: 700px;
  }
}

.TodoApp__title {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: var(--app-font-weight-light);
}
